<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hollykunge.security.admin.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="com.github.hollykunge.security.admin.entity.Menu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
    <result column="URI" property="uri" jdbcType="VARCHAR" />
    <result column="ICON" property="icon" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="CHAR" />
    <result column="ORDER_NUM" property="orderNum" jdbcType="NUMERIC" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="PATH" property="path" jdbcType="VARCHAR" />
    <result column="ENABLED" property="enabled" jdbcType="CHAR" />
    <result column="PERMISSION_ID" property="permissionId" jdbcType="VARCHAR" />
    <result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="CRT_USER" property="crtUser" jdbcType="VARCHAR" />
    <result column="CRT_NAME" property="crtName" jdbcType="VARCHAR" />
    <result column="CRT_HOST" property="crtHost" jdbcType="VARCHAR" />
    <result column="UPD_TIME" property="updTime" jdbcType="TIMESTAMP" />
    <result column="UPD_USER" property="updUser" jdbcType="VARCHAR" />
    <result column="UPD_NAME" property="updName" jdbcType="VARCHAR" />
    <result column="UPD_HOST" property="updHost" jdbcType="VARCHAR" />
    <result column="ATTR1" property="attr1" jdbcType="VARCHAR" />
    <result column="ATTR2" property="attr2" jdbcType="VARCHAR" />
    <result column="ATTR3" property="attr3" jdbcType="VARCHAR" />
    <result column="ATTR4" property="attr4" jdbcType="VARCHAR" />
    <result column="ATTR5" property="attr5" jdbcType="VARCHAR" />
    <result column="ATTR6" property="attr6" jdbcType="VARCHAR" />
    <result column="ATTR7" property="attr7" jdbcType="VARCHAR" />
    <result column="ATTR8" property="attr8" jdbcType="VARCHAR" />
  </resultMap>
    <!--<select id="selectMenuByAuthorityId" resultMap="BaseResultMap">-->
    <!--select t.* from base_resource_authority ra-->
    <!--inner join base_menu t-->
    <!--on ra.resource_id = t.id-->
    <!--and ra.authority_id = #{authorityId}-->
    <!--and ra.authority_type = #{authorityType}-->
    <!--and ra.resource_type = 'menu'-->
  <!--</select>-->
    <!--<select id="selectAuthorityMenuByUserId" resultMap="BaseResultMap">-->
     <!--select distinct t.* from base_resource_authority ra-->
    <!--inner join base_menu t-->
    <!--on ra.resource_id = t.id-->
    <!--and ra.authority_id in (-->
      <!--select group_id from base_group_member where user_id = #{userId}-->
      <!--union select group_id from base_group_leader where user_id = #{userId}-->
    <!--)-->
    <!--and ra.authority_type = 'group'-->
    <!--and ra.resource_type = 'menu'-->
    <!--order by t.id-->
  <!--</select>-->
    <!--<select id="selectAuthoritySystemByUserId" resultMap="BaseResultMap">-->
        <!--select distinct t.* from base_resource_authority ra-->
        <!--inner join base_menu t-->
        <!--on ra.resource_id = t.id-->
        <!--and ra.authority_id in (-->
        <!--select group_id from base_group_member where user_id = #{userId}-->
        <!--union select group_id from base_group_leader where user_id = #{userId}-->
        <!--)-->
        <!--and ra.authority_type = 'group'-->
        <!--and ra.resource_type = 'menu'-->
        <!--where t.parent_id = -1-->
    <!--</select>-->
</mapper>