<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hollykunge.security.admin.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="com.github.hollykunge.security.admin.entity.Menu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
    <result column="URI" property="uri" jdbcType="VARCHAR" />
    <result column="ICON" property="icon" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="CHAR" />
    <result column="ORDER_NUM" property="orderNum" jdbcType="NUMERIC" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="PATH" property="path" jdbcType="VARCHAR" />
    <result column="ENABLED" property="enabled" jdbcType="CHAR" />
    <result column="PERMISSION_ID" property="permissionId" jdbcType="VARCHAR" />
    <result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="CRT_USER" property="crtUser" jdbcType="VARCHAR" />
    <result column="CRT_NAME" property="crtName" jdbcType="VARCHAR" />
    <result column="CRT_HOST" property="crtHost" jdbcType="VARCHAR" />
    <result column="UPD_TIME" property="updTime" jdbcType="TIMESTAMP" />
    <result column="UPD_USER" property="updUser" jdbcType="VARCHAR" />
    <result column="UPD_NAME" property="updName" jdbcType="VARCHAR" />
    <result column="UPD_HOST" property="updHost" jdbcType="VARCHAR" />
    <result column="ATTR1" property="attr1" jdbcType="VARCHAR" />
    <result column="ATTR2" property="attr2" jdbcType="VARCHAR" />
    <result column="ATTR3" property="attr3" jdbcType="VARCHAR" />
    <result column="ATTR4" property="attr4" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectMenuByRoleId" resultMap="BaseResultMap">
    select AM.* from ADMIN_MENU AM
     left join ADMIN_RESOURCEROLEMAP ARR
      on AM.ID = ARR.RESOURCE_ID
        where  ARR.ROLE_ID = #{roleId}
       and ARR.RESOURCE_TYPE = 'menu'
    </select>
</mapper>