<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hollykunge.security.admin.mapper.OrgMapper">
  <resultMap id="BaseResultMap" type="com.github.hollykunge.security.admin.entity.Org">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="H_ID" property="hId" jdbcType="DECIMAL" />
    <result column="SYS_ID" property="sysId" jdbcType="VARCHAR" />
    <result column="ORG_LEVEL" property="orgLevel" jdbcType="DECIMAL" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="CASIC_ORG_SECRET" property="casicOrgSecret" jdbcType="VARCHAR" />
    <result column="CASIC_ORG_CODE" property="casicOrgCode" jdbcType="VARCHAR" />
    <result column="CASIC_PORG_CODE" property="casicPorgCode" jdbcType="VARCHAR" />
    <result column="EXTERNAL_NAME" property="externalName" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="ORDER_ID" property="orderId" jdbcType="DECIMAL" />
    <result column="DISP_TIME" property="dispTime" jdbcType="TIMESTAMP" />
    <result column="SYNC_TYPE" property="syncType" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="REFA" property="refa" jdbcType="VARCHAR" />
    <result column="REFB" property="refb" jdbcType="VARCHAR" />
    <result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" />
    <result column="ORG_CODES" property="orgCodes" jdbcType="VARCHAR" />
    <result column="ORG_NAMES" property="orgNames" jdbcType="VARCHAR" />
    <result column="MILI_CODE" property="miliCode" jdbcType="VARCHAR" />
    <result column="ORGNATION_CODE" property="orgnationCode" jdbcType="VARCHAR" />
    <result column="CREDIT_CODE" property="creditCode" jdbcType="VARCHAR" />
    <result column="COUNTRY" property="country" jdbcType="VARCHAR" />
    <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="AREA_COUNTY" property="areaCounty" jdbcType="VARCHAR" />
    <result column="LANGUAGES" property="languages" jdbcType="VARCHAR" />
    <result column="CURRENCY" property="currency" jdbcType="VARCHAR" />
    <result column="INFOR_LEVEL" property="inforLevel" jdbcType="VARCHAR" />
    <result column="ORG_NATURE" property="orgNature" jdbcType="VARCHAR" />
    <result column="IMMEUP_ORG" property="immeupOrg" jdbcType="VARCHAR" />
    <result column="ORG_MAN_LEVEL" property="orgManLevel" jdbcType="VARCHAR" />
    <result column="IS_LI_COMPANY" property="isLiCompany" jdbcType="VARCHAR" />
    <result column="FILL_TWO_ORG" property="fillTwoOrg" jdbcType="VARCHAR" />
    <result column="FILL_THR_ORG" property="fillThrOrg" jdbcType="VARCHAR" />
    <result column="ERP_COM_CODE" property="erpComCode" jdbcType="VARCHAR" />
    <result column="ORDER_NUMBER" property="orderNumber" jdbcType="VARCHAR" />
    <result column="INDUCLASS" property="induclass" jdbcType="VARCHAR" />
    <result column="INNER_ID" property="innerId" jdbcType="VARCHAR" />
    <result column="FC_FLAG" property="fcFlag" jdbcType="VARCHAR" />
    <result column="XH" property="xh" jdbcType="VARCHAR" />
    <result column="MD_CODE" property="mdCode" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="DECIMAL" />
    <result column="ORG_TYPE" property="orgType" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="CRT_USER" property="crtUser" jdbcType="VARCHAR" />
    <result column="CRT_NAME" property="crtName" jdbcType="VARCHAR" />
    <result column="CRT_HOST" property="crtHost" jdbcType="VARCHAR" />
    <result column="UPD_TIME" property="updTime" jdbcType="TIMESTAMP" />
    <result column="UPD_USER" property="updUser" jdbcType="VARCHAR" />
    <result column="UPD_NAME" property="updName" jdbcType="VARCHAR" />
    <result column="UPD_HOST" property="updHost" jdbcType="VARCHAR" />
    <result column="ATTR1" property="attr1" jdbcType="VARCHAR" />
    <result column="ATTR2" property="attr2" jdbcType="VARCHAR" />
    <result column="ATTR3" property="attr3" jdbcType="VARCHAR" />
    <result column="ATTR4" property="attr4" jdbcType="VARCHAR" />
    <result column="ATTR5" property="attr5" jdbcType="VARCHAR" />
    <result column="ATTR6" property="attr6" jdbcType="VARCHAR" />
    <result column="ATTR7" property="attr7" jdbcType="VARCHAR" />
    <result column="ATTR8" property="attr8" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteOrgMembersById">
    delete from base_org_member where org_id = #{orgId}
  </delete>
  <delete id="deleteOrgLeadersById">
    delete from base_org_leader where org_id = #{orgId}
  </delete>
  <insert id="insertOrgMembersById">
    insert into base_org_member (
    org_id,user_id
    )
    values(
    #{orgId},#{userId}
    )
  </insert>
  <insert id="insertOrgLeadersById">
    insert into base_org_leader (
    org_id,user_id
    )
    values(
    #{orgId},#{userId}
    )
  </insert>
</mapper>