<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hollykunge.security.admin.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.github.hollykunge.security.admin.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="H_ID" property="hId" jdbcType="DECIMAL" />
    <result column="SYS_ID" property="sysId" jdbcType="VARCHAR" />
    <result column="CASIC_ORG_CODE" property="casicOrgCode" jdbcType="VARCHAR" />
    <result column="OPERATOR_NAME" property="operatorName" jdbcType="VARCHAR" />
    <result column="EMP_CODE" property="empCode" jdbcType="VARCHAR" />
    <result column="P_ID" property="pId" jdbcType="VARCHAR" />
    <result column="SECRET_LEVEL" property="secretLevel" jdbcType="VARCHAR" />
    <result column="BIRTH_DATE" property="birthDate" jdbcType="TIMESTAMP" />
    <result column="GENDER" property="gender" jdbcType="VARCHAR" />
    <result column="O_TEL" property="oTel" jdbcType="VARCHAR" />
    <result column="O_EMAIL" property="oEmail" jdbcType="VARCHAR" />
    <result column="WORK_POST" property="workPost" jdbcType="VARCHAR" />
    <result column="TEC_POST" property="tecPost" jdbcType="VARCHAR" />
    <result column="ORDER_ID" property="orderId" jdbcType="DECIMAL" />
    <result column="SYNC_TYPE" property="syncType" jdbcType="VARCHAR" />
    <result column="DISP_TIME" property="dispTime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="REFA" property="refa" jdbcType="VARCHAR" />
    <result column="REFB" property="refb" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="XH" property="xh" jdbcType="VARCHAR" />
    <result column="TECH_POST_NAME" property="techPostName" jdbcType="VARCHAR" />
    <result column="TECH_POST_CODE" property="techPostCode" jdbcType="VARCHAR" />
    <result column="TECHNICAL_POST_NAME" property="technicalPostName" jdbcType="VARCHAR" />
    <result column="TECHNICAL_POST_CODE" property="technicalPostCode" jdbcType="VARCHAR" />
    <result column="TECH_LEVEL_NAME" property="techLevelName" jdbcType="VARCHAR" />
    <result column="TECH_LEVEL_CODE" property="techLevelCode" jdbcType="VARCHAR" />
    <result column="TECHNICAL_MC_NAME" property="technicalMcName" jdbcType="VARCHAR" />
    <result column="TECHNICAL_MC_TCODE" property="technicalMcTcode" jdbcType="VARCHAR" />
    <result column="HIGHEST_INDUSTRIAL" property="highestIndustrial" jdbcType="VARCHAR" />
    <result column="INNER_ID" property="innerId" jdbcType="VARCHAR" />
    <result column="OFFICE_ADDR" property="officeAddr" jdbcType="VARCHAR" />
    <result column="XQAH" property="xqah" jdbcType="VARCHAR" />
    <result column="POLICITAL_NAME" property="policitalName" jdbcType="VARCHAR" />
    <result column="POLICITAL_CODE" property="policitalCode" jdbcType="VARCHAR" />
    <result column="PSN_SECRET_LEVEL" property="psnSecretLevel" jdbcType="VARCHAR" />
    <result column="DEPT_TYYH_ORG_CODE" property="deptTyyhOrgCode" jdbcType="VARCHAR" />
    <result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR" />
    <result column="IN_BU_DATE" property="inBuDate" jdbcType="VARCHAR" />
    <result column="IN_PARTY_DATE" property="inPartyDate" jdbcType="VARCHAR" />
    <result column="MARRY_NAME" property="marryName" jdbcType="VARCHAR" />
    <result column="MARRY_CODE" property="marryCode" jdbcType="VARCHAR" />
    <result column="IDENTITY_TYPE" property="identityType" jdbcType="VARCHAR" />
    <result column="HOME_TOWN" property="homeTown" jdbcType="VARCHAR" />
    <result column="HR_PSN_CODE" property="hrPsnCode" jdbcType="VARCHAR" />
    <result column="INFO_SECRET_LEVEL_NAME" property="infoSecretLevelName" jdbcType="VARCHAR" />
    <result column="INFO_SECRET_LEVEL_CODE" property="infoSecretLevelCode" jdbcType="VARCHAR" />
    <result column="END_FLAG" property="endFlag" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="HIGHEST_EDU" property="highestEdu" jdbcType="VARCHAR" />
    <result column="DYCN" property="dycn" jdbcType="VARCHAR" />
    <result column="FC_FLAG" property="fcFlag" jdbcType="VARCHAR" />
    <result column="NATIONALITY_NAME" property="nationalityName" jdbcType="VARCHAR" />
    <result column="UNIT_NAME" property="unitName" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="CRT_USER" property="crtUser" jdbcType="VARCHAR" />
    <result column="CRT_NAME" property="crtName" jdbcType="VARCHAR" />
    <result column="CRT_HOST" property="crtHost" jdbcType="VARCHAR" />
    <result column="UPD_TIME" property="updTime" jdbcType="TIMESTAMP" />
    <result column="UPD_USER" property="updUser" jdbcType="VARCHAR" />
    <result column="UPD_NAME" property="updName" jdbcType="VARCHAR" />
    <result column="UPD_HOST" property="updHost" jdbcType="VARCHAR" />
    <result column="ATTR1" property="attr1" jdbcType="VARCHAR" />
    <result column="ATTR2" property="attr2" jdbcType="VARCHAR" />
    <result column="ATTR3" property="attr3" jdbcType="VARCHAR" />
    <result column="ATTR4" property="attr4" jdbcType="VARCHAR" />
    <result column="ATTR5" property="attr5" jdbcType="VARCHAR" />
    <result column="ATTR6" property="attr6" jdbcType="VARCHAR" />
    <result column="ATTR7" property="attr7" jdbcType="VARCHAR" />
    <result column="ATTR8" property="attr8" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectUsersByRoleId" resultMap="BaseResultMap">
    select AU.* from ADMIN_USER AU
    left join ADMIN_ROLEUSERMAP ARU on AU.ID = ARU.USER_ID
    where ARU.ROLE_ID = #{roleId}
  </select>
  <select id="selectUsersByOrgId" resultMap="BaseResultMap">
    select AU.* from ADMIN_USER AU
    left join ADMIN_ORGUSERMAP AOU on AU.ID = AOU.USER_ID
    where AOU.ORG_ID = #{orgId}
  </select>
</mapper>