<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hollykunge.security.admin.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.github.hollykunge.security.admin.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="P_ID" jdbcType="VARCHAR" property="pId" />
    <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode" />
    <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
    <result column="SECRET_LEVEL" jdbcType="VARCHAR" property="secretLevel" />
    <result column="GENDER" jdbcType="VARCHAR" property="gender" />
    <result column="ORDER_ID" jdbcType="NUMERIC" property="orderId" />
    <result column="EMP_CODE" jdbcType="VARCHAR" property="empCode" />
    <result column="BIRTH_DATE" jdbcType="TIMESTAMP" property="birthDate" />
    <result column="O_TEL" jdbcType="VARCHAR" property="oTel" />
    <result column="O_EMAIL" jdbcType="VARCHAR" property="oEmail" />
    <result column="WORK_POST" jdbcType="VARCHAR" property="workPost" />
    <result column="TEC_POST" jdbcType="VARCHAR" property="tecPost" />
    <result column="DELETED" jdbcType="VARCHAR" property="deleted" />
    <result column="REFA" jdbcType="VARCHAR" property="refa" />
    <result column="REFB" jdbcType="VARCHAR" property="refb" />
    <result column="AVATAR" jdbcType="VARCHAR" property="avatar" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CRT_TIME" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="CRT_USER" jdbcType="VARCHAR" property="crtUser" />
    <result column="CRT_NAME" jdbcType="VARCHAR" property="crtName" />
    <result column="CRT_HOST" jdbcType="VARCHAR" property="crtHost" />
    <result column="UPD_TIME" jdbcType="TIMESTAMP" property="updTime" />
    <result column="UPD_USER" jdbcType="VARCHAR" property="updUser" />
    <result column="UPD_NAME" jdbcType="VARCHAR" property="updName" />
    <result column="UPD_HOST" jdbcType="VARCHAR" property="updHost" />
    <result column="ATTR1" jdbcType="VARCHAR" property="attr1" />
    <result column="ATTR2" jdbcType="VARCHAR" property="attr2" />
    <result column="ATTR3" jdbcType="VARCHAR" property="attr3" />
    <result column="ATTR4" jdbcType="VARCHAR" property="attr4" />
    <result column="ATTR5" jdbcType="VARCHAR" property="attr5" />
    <result column="ATTR6" jdbcType="VARCHAR" property="attr6" />
    <result column="ATTR7" jdbcType="VARCHAR" property="attr7" />
    <result column="ATTR8" jdbcType="VARCHAR" property="attr8" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <select id="selectUsersByRoleId" resultMap="BaseResultMap">
    select AU.* from ADMIN_USER AU
    left join ADMIN_ROLEUSERMAP ARU on AU.ID = ARU.USER_ID
    where ARU.ROLE_ID = #{roleId}
  </select>
  <select id="selectUsersByOrgId" resultMap="BaseResultMap">
    select AU.* from ADMIN_USER AU
    left join ADMIN_ORGUSERMAP AOU on AU.ID = AOU.USER_ID
    where AOU.ORG_ID in (
    select AO.ID from ADMIN_ORG AO where AO.ORG_CODE LIKE '%'||#{orgCode}||'%'
    )
  </select>
</mapper>