<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hollykunge.servicewebservice.dao.UserDAO">
    <resultMap id="Userr" type="com.github.hollykunge.servicewebservice.model.Userr">
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="patternLock" column="patternLock"/>
    </resultMap>
    <select id="selectUsers" resultMap="Userr">
        SELECT * FROM Userr
    </select>
</mapper>
