<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hollykunge.mapper.FileInfoMapper">
  <resultMap id="BaseResultMap" type="com.github.hollykunge.entity.FileInfoEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR" />
    <result column="FILE_EXT" property="fileExt" jdbcType="VARCHAR" />
    <result column="FILE_TYPE" property="fileType" jdbcType="VARCHAR" />
    <result column="FILE_SIZE" property="fileSize" jdbcType="DOUBLE" />
    <!--<result column="PATH" property="path" jdbcType="VARCHAR" />-->
    <result column="READ_PATH" property="readPath" jdbcType="VARCHAR" />
    <result column="LEVELS" property="levels" jdbcType="VARCHAR" />
    <result column="FILE_PATH_ID" property="filePathId" jdbcType="VARCHAR" />
    <!--<result column="FILE_ENCRYPE" property="fileEncrype" jdbcType="VARCHAR" />-->
    <result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="CRT_USER" property="crtUser" jdbcType="VARCHAR" />
    <result column="CRT_NAME" property="crtName" jdbcType="VARCHAR" />
    <result column="CRT_HOST" property="crtHost" jdbcType="VARCHAR" />
    <result column="ATTR1" property="attr1" jdbcType="VARCHAR" />
    <result column="ATTR2" property="attr2" jdbcType="VARCHAR" />
    <result column="ATTR3" property="attr3" jdbcType="VARCHAR" />
    <result column="ATTR4" property="attr4" jdbcType="VARCHAR" />
  </resultMap>
</mapper>