<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hollykunge.security.mapper.CollectionMapper" >
  <resultMap id="BaseResultMap" type="com.github.hollykunge.security.entity.Collection" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="COLLECTION_NAME" property="collectionName" jdbcType="VARCHAR" />
    <result column="COLLECTION_ID" property="collectionId" jdbcType="VARCHAR" />
  </resultMap>
</mapper>