<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hollykunge.security.mapper.MessageMapper" >
  <resultMap id="BaseResultMap" type="com.github.hollykunge.security.entity.Message" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MSG" property="msg" jdbcType="VARCHAR" />
    <result column="MSG_SENDER" property="msgSender" jdbcType="VARCHAR" />
    <result column="FROM_USERNAME" property="fromUsername" jdbcType="VARCHAR" />
    <result column="SEND_TIME" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="READ" property="read" jdbcType="VARCHAR" />
    <result column="MSG_TYPE" property="msgType" jdbcType="VARCHAR" />
    <result column="LEVELS" property="levels" jdbcType="VARCHAR" />
  </resultMap>
</mapper>